:host {
  display: block;
  height: 100vh;
}

.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 16px;

  p {
    color: #aaa;
    font-size: 16px;
  }
}
